  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

@media screen and (max-width: 800px){
    #main{
        display: none;
    }
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'EB Garamond', serif;

}
html {
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85)
}

nav, .links{
    display: flex;
}

nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.links{
    gap: 2rem;
    list-style: none;
    font-size: 2 rem;
}
a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
    position: relative;
}

a:hover{
    color: black;   
    border-bottom: 1px solid transparent;
    text-decoration: transparent;
}
.name{
    font-size: 24px; 
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    margin-right: 20px;
}
/* menu*/
.icon{
    position: relative;
    display: inline-block;
}
.icon_click{
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    width: 30px;
    display: flex;
    cursor: pointer;
}
.menu_links{
position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;

}
.menu_links a{
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
}
.icon_click span{
    height: 4px;
    width: 100%;
    background-color: black;

}
/* Added a rule to display the menu links when the menu class is active */
.menu_links.open {
    max-height: 300px;
}
.menu_links li {
    list-style: none;
}
/* Added a rule to rotate the lines and create an 'X' shape when the menu is active */
.icon_click.open span:first-child {
    transform: rotate(45deg) translate(10px, 7px);
}
.icon_click.open span:nth-child(2) {
    opacity: 0;
}
.icon_click.open span:nth-child(3) {
    transform: rotate(-45deg) translate(10px, -10px);
}
.icon_click span:first-child {
    transform: none;
}
.icon_click span:first-child {
    opacity: 1;
}
.icon_click span:first-child {
    transform: none;
}

